table
    tr
        th Name 
        th Color 
        th Price
    each product in products
        tr 
            td#first= product.name
            td#second= product.color
            td#third= product.price